name: build

on:
  push:
  workflow_dispatch:

jobs:
  linting:
    name: run
    runs-on: ubuntu-22.04
    env:
        gcc-version: "12" 
        rocm-version: "6.1.0"
    steps:

      - name: Check out a copy of the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Show some relevant env vars
        run: |
          echo "GITHUB_BASE_REF = $GITHUB_BASE_REF"
          echo "GITHUB_HEAD_REF = $GITHUB_HEAD_REF"
          echo "GITHUB_REF_NAME = $GITHUB_REF_NAME"

      - name: rocm-setup
        uses: neoblizz/rocm-setup@v0.1.0-beta
        with:
          rocm: ${{ env.rocm-version }}

      - name: Show tool versions
        run: |
           echo "nvcc: $(nvcc --version)"
           echo "g++: $(g++-${{ env.gcc-version}} --version)"

      - name: Run CMake
        shell: bash -el {0}
        run: |
          cmake -DCMAKE_CXX_COMPILER=g++-${{ env.gcc-version }} -DCUDAWRAPPERS_BUILD_TESTING=True -S . -B build

      - name: Build the code
        shell: bash -el {0}
        run: |
          cd build && make -j
